header{
    width: 100%;
    background-color: #5aba8d;
    padding:20px;
}
header h1{
    color:rgb(252, 252, 252);
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

header h3{
    color:rgb(252, 252, 252);
    font-size: center;
    text-align: center;
    cursor:pointer;
}